.post {
    /* 21-02 commented */
    /* margin: 40px;
    padding: 20px; */
    

}
/* .post__image {
    width: 100%;
    object-fit: contain;
}
.post__header__username {
    display: inline;
    color: rgb(136, 139, 141);
    
} */
